// Zellij config with vim-friendly keybinds
default_shell "bash"
mouse_mode true
// copy_command "wl-copy"
copy_on_select true
simplified_ui true

keybinds {
  normal {
    bind "Ctrl b" { SwitchToMode "tmux"; }
    // Change to not conflict with my vim navigation
    unbind "Ctrl h"
    bind "Ctrl m" { SwitchToMode "move"; }
  }

}

theme "atelier-sulphurpool"
