[Desktop Entry]
Version=1.0
Name=Outlook
Comment=Outlook
Exec=omarchy-launch-webapp "https://outlook.office.com"
Terminal=false
Type=Application
Icon=/home/pbjorklund/.local/share/applications/icons/Outlook.png
StartupNotify=true
